<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
		></script>
	</head>
	<body class="m-0 p-0">
		<!-- Probando el navbar (de MI) -->
		 <div class="flex justify-between p-8">
			<button class="text-4xl"><ion-icon name="menu-outline"></ion-icon></button>
			<ul class="md:flex gap-8 text-xl hidden">
				<li><a href="">Peliculas</a></li>
				<li><a href="">Inicio</a></li>
				<li><a href="">Series</a></li>
			</ul>
			<button>
				<img class="h-10 w-10 m-0 rounded-xl object-cover" src="https://i.blogs.es/755972/berserk-manga-2/840_560.jpeg" alt="">
			</button>
		 </div>
	</body>
</html>
