---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import { getMovies } from "../api/movies"
import Carousel from "../components/Carousel.astro"
import SectionTitle from "../components/SectionTitle.astro"

const movies = getMovies()
---

<Layout title="Osiris Project">
	<Header movies={movies} />
	<SectionTitle title="Peliculas recomendadas" />
	<Carousel movies={movies}/>
	<div class="mb-12"></div>
</Layout>
