---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import movies from "../data/movies";
import top_series from "../data/top_series";
import top_movies from "../data/top_movies";
import continue_movies from "../data/continue_movies";
import MoviesContinue from "../components/MoviesContinue.astro";
import marathon_movies from "../data/marathon_movies";
import Marathon from "../components/MarathonMovies.astro"
import Carousel from "../components/Carousel.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TopSection from "../components/TopSection.astro";
import ConfigureUser from "../components/ConfigureUser.astro";
---

<Layout title="Osiris Project">
	<Navbar />
	<ConfigureUser />
	<div class="mb-16"></div>
</Layout>
