---
const {type, id} = Astro.params
---

<button id="alarm_button" class="transition-colors text-base lg:text-lg text-primary p-1 sm:p-2 bg-background hover:bg-active rounded h-8 sm:h-10 w-8 sm:w-10 text-center text-white flex items-center justify-center gap-2">
    <ion-icon name="notifications-outline" id="alarm"></ion-icon>
</button>

<script>
    document.addEventListener('astro:page-load', function () {
        document.getElementById('alarm_button').addEventListener('click', function () {
            document.getElementById('alarm').name = 'notifications';
        }); 
    });
</script>