---

---

<footer>
    <div class="flex justify-between mx-auto max-w-screen-xl xl:w-full p-3">
        <ul
            class="flex flex-wrap xl:text-sm xl:items-center md:items-center sm:mt-0 mt-3 text-xs font-medium text-gray-500 dark:text-gray-400"
        >
            <li>
                <a href="#" class="hover:underline me-4 md:me-6"
                    >Politica de Privacidad</a
                >
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6"
                    >Terminos de Servicio</a
                >
            </li>
        </ul>
        <a
            href="#"
            class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
        >
            <img src="/osiris.svg" class="h-8" alt="Logo OSIRIS" />
        </a>
    </div>
</footer>
