---

---

<footer class="">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
        >
            <li>
                <a href="#" class="hover:underline me-4 md:me-6"
                    >Politica de Privacidad</a
                >
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6"
                    >Terminos de Servicio</a
                >
            </li>
        </ul>
        <a
            href="#"
            class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
        >
            <img src="/osiris.svg" class="h-8" alt="Logo OSIRIS" />
        </a>
    </div>
</footer>
