---

---

<footer class="absolute bottom-0 left-0 flex justify-between xl:px-10 w-full p-3 xl:py-3">
  <ul
    class="flex flex-wrap xl:text-sm justify-center items-center sm:mt-0 text-xs font-medium text-gray-500 dark:text-gray-400"
  >
    <li>
      <a href="/faq" class="hover:underline me-4 md:me-6"
        >Preguntas Frecuentes</a
      >
    </li>
    <li>
      <a href="#" class="hover:underline me-4 md:me-6">Terminos de Servicio</a>
    </li>
  </ul>
  <a
    href="#"
    class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
  >
    <img src="/osiris.svg" class="h-8" alt="Logo OSIRIS" />
  </a>
</footer>
