---
import { formatMinutes } from '../utils/general';
import AlarmButton from './AlarmButton.astro';
import MovieTitle from './MovieTitle.astro';
import PlayButton from './PlayButton.astro';
const { title, image, duration, description } = Astro.props;
---

<div class="absolute inset-0 bg-cover bg-top flex items-center animate-fade-in" style={`background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('${image}');`} >
    <div class="flex flex-col px-4 sm:px-6 xl:px-8 py-8 text-white transition-transform duration-1000 transform scale-100 items-start">
        <MovieTitle title={title} description={description} duration={duration} />
    </div>
</div>

<style>
@keyframes slide-in {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 1s ease-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animate-fade-in {
    animation: fade-in 2.5s ease-out;
}
</style>
