<button id="like_button" class="transition-colors text-lg text-primary p-1 sm:p-2 bg-background hover:bg-active rounded h-10 w-10 text-center text-white flex items-center justify-center gap-2">
    <ion-icon name="heart-outline" id="like"></ion-icon>
</button>

<script>
    document.addEventListener('astro:page-load', function () {
        document.getElementById('like_button').addEventListener('click', function () {
            document.getElementById('like').name = 'heart';
        });
    });
</script>
    