<a href="{link}" class="text-base lg:text-sm text-primary px-4 sm:px-4 bg-blue-700 hover:bg-blue-600 rounded h-10 text-center text-white flex items-center justify-center gap-2">
    <ion-icon name="play" id="play" class="text-lg"></ion-icon>
    Ver Ahora
</a>