<button class="bg-blue-600 text-white px-8 md:px-8 py-2 md:py-3 rounded-lg hover:bg-blue-700 transition-colors duration-300 flex gap-2 items-center">
    <ion-icon name="play" id="alarm" class="text-xl"></ion-icon>
    Ver Ahora
</button>