<!-- Contenedor de texto (oculto en móvil y mostrado en pantallas grandes) -->
<div class="text-center lg:text-center lg:w-2/6 mt-6 lg:mb-0 hidden lg:block p-4">
    <p class="text-white text-5xl sm:text-6xl md:text-7xl mb-3">TOP</p>
    <p class="text-clip-content text-white text-7xl sm:text-8xl md:text-9xl font-bold mb-3">10</p>
    <p class="bg-white rounded-lg p-2 text-4xl sm:text-5xl md:text-6xl">PELÍCULAS</p>
</div>
<!-- Contenedor de texto (oculto en pantallas grandes y mostrado en móvil) -->
<div class="text-center lg:text-center lg:w-2/6 mb-6 lg:mb-0 lg:hidden block">
    <p class="text-white text-5xl sm:text-6xl md:text-7xl mb-3">TOP</p>
    <p class="text-clip-content text-white text-7xl sm:text-8xl md:text-9xl font-bold mb-3">10</p>
    <p class="bg-white rounded-lg p-2 text-4xl sm:text-5xl md:text-6xl">PELÍCULAS</p>
</div>