---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const { title, background } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
		></script>
		<ViewTransitions />
	</head>
	<body class="relative bg-background flex flex-col min-h-screen" style={background ? `background-image: url(${background}); background-size: cover; background-position: center;` : ""}>
		{background && <div class="absolute inset-0 bg-black opacity-60 -z-10"></div>}
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
